* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mobileMenuBar {
    scale: 2;
    display: none;
    padding-right: 8px;
}

.header {
    background-color: #3ebfff;
    padding: 32px;
    font-family: "Barlow", sans-serif;
}

.header nav {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.header nav #menu {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header nav #menu ul {
    display: flex;
    gap: 32px;
    list-style-type: none;
    font-size: 16px;
}

#menu ul li {
    padding-bottom: 8px;
}

#menu ul li:hover {
    cursor: pointer;
    scale: 1.2;
    transition: .2s;
}

#menu button {
    border: none;
    padding: 14px 24px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
    font-family: "Fraunces", serif;
}

#menu button:hover {
    cursor: pointer;
    transition: .2s;
    background-color: #6fcfff;
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 84.7vh;
    background-color: #3ebfff;
    background-image: url(/desktop/image-header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 64px;
    position: relative;
}

.main h1 {
    color: #fff;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    padding-bottom: 64px;
    letter-spacing: 4px;
    position: relative;
}

.main h1::after {
    content: url(/icon-arrow-down.svg);
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
}


/* Responsiveness */

@media screen and (min-width: 901px) and (max-width: 1090px){
    .main {
        min-height: 70vh;
    }

}

/* Tablets and mobiles */
@media screen and (min-width: 601px) and (max-width: 950px) {
    .main {
        min-height: 35vh;
        padding-top: 24px;
    }
    .main h1::after {
        top: 110%;
    }
}

@media screen and (max-width: 600px) {
    .main {
        min-height: 60vh;
        padding: 24px 0;
        background-image: url(/mobile/image-header.jpg);
        background-size: cover;
        background-position: bottom;
        position: relative;
        padding-top: 24px;
    }
    .main h1::after {
        top: 110%;
    }

    .main img {
        width: 6%;
        position: absolute;
        top: 40%;
    }

    .main h1 {
        text-align: center;
        width: 300px;
        font-size: 36px;
    }

    .header {
        width: 100%;
        padding: 12px;
    }

    .mobileMenuBar {
        display: block;
        cursor: pointer;
    }

    .header nav #menu {
        visibility: hidden;
        opacity: 0;
        transition: opacity .5s ease;
    }

    .header nav #menu.active {
        visibility: visible;
        opacity: 1;
    }

    .header nav #menu:not(.active) {
        visibility: visible;
        opacity: 0;
    }

    #menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 11%;
        left: 50%;
        transform: translate(-50%);
        height: auto;
        z-index: 1;
        padding: 32px 0;
        width: 90%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    #menu::after {
        content: '';
        position: absolute;
        top: -10%;
        right: 0;
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid #fff;
        border-top: 40px solid transparent;
    }

    .header nav #menu ul {
        flex-direction: column;
        gap: 16px;
        color: #a7abae;
        font-weight: 600;
    }

    #menu button {
        background-color: var(--Yellow);
        color: var(--Very-dark-desaturated-blue);
    }

    #menu button:hover {
        background-color: var(--Very-dark-desaturated-blue);
        color: var(--Yellow);
    }
}

@media screen and (max-width: 350px) {
    .main {
        min-height: 70vh;
        padding-top: 24px;
    }
    .main h1 {
        font-size: 24px;
    }
    .main h1::after {
        top: 80%;
        scale: .7;
    }

    #menu {
        top: 17%;
        left: 50%;
    }
}